/* Stories */
.story_container {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 1px 2px 5px 0 var(--shadow-one);
    transition: all .5s;
}

.story_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(85%);
    transition: all .1s;
}

.story_container:hover .story_img {
    transform: scale(1.05);
    filter: brightness(75%);
}

.story_profile_pic {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 3px solid var(--blue-color);
}

/* Create Post */
.create_post input {
    all: unset;
    display: block;
    background-color: var(--third);
    padding: .5rem .75rem;
    border-radius: 9999px;
    width: 100%;
}