.circle {
    all: unset;
    background-color: var(--third);
    height: 2.5rem;
    width: 2.5rem;
    padding: .5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    cursor: pointer;
}

.active_circle {
    background-color: var(--light-blue-color);
}

.small_circle {
    background-color: var(--third);
    height: 2.25rem;
    width: 2.25rem;
    padding: .25rem;
}

.mini_circle {
    background-color: var(--third);
    height: 1.75rem;
    width: 1.75rem;
    padding: 0;
}

.profile_circle {
    padding: 0;
}

.circle:hover {
    background-color: var(--forth);
}

.circle:active {
    transform: scale(0.9);
}

.search {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 2rem .5rem .5rem;
    border-radius: 2rem;
    background-color: var(--third);
    cursor: text;
}

.search_menu {
    padding: .5rem .75rem;
    width: 240px;
}

.search input {
    all: unset;
    background: transparent;
    font-size: 15px;
    color: var(--color-secondary);
}

.search_menu input {
    display: inline-block;
    width: 100%;
}

.search_menu_icon {
    transform: rotate(180deg);
}

@media only screen and (max-width: 1100px) {
    .search {
        padding: .75rem;
        cursor: pointer;
    }

    .search_menu {
        padding: .5rem 2rem .5rem .5rem;
        cursor: text;
    }

    .search:hover {
        background-color: var(--forth);
    }

    .search input {
        display: none;
    }

    .search_menu input {
        display: block;

    }
}

@media only screen and (max-width: 450px) {
    .header_hidden {
        display: none;
    }
}