/* ====== Dark Theme ====== */
.dark {
    --primary: #18191a;
    --secondary: #242526;
    --third: #3a3b3c;
    --forth: #4E4F50;
    --color-primary: #f0f2f5;
    --color-secondary: #b0b3b8;
}

.dark .app {
    background-color: var(--primary) !important;
}

.dark .circle span:nth-child(1),
.dark .small_circle i {
    filter: invert(90%) !important;
}

.dark .active_circle {
    background-color: var(--medium-blue);
}

.dark .active_circle span:nth-child(1) {
    filter: none !important;
}

.dark .loading-wrapper {
    background-color: rgba(250, 250, 250, 0.5);
}

/* ====== Dark Theme ====== */